.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    max-width: 570px;
    text-align: center;
}

.foto {
    height: 220px;
    width: 220px;
    padding: 5px;
    margin-left: 170px;
    margin-right: 170px;
    max-width: 580px;
    margin-bottom: 10px;
}

