.app{
    max-width: 650px;
    margin: 0 auto;
    background-color: #efefef;
    padding: 20px 30px;
    border-radius: 10px;
    margin-top: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 15px;
}

p {
    margin: 10px 0;
    margin-right: 5px;
}

input {
    box-sizing: border-box;
}

button {
    background-color: #333974;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

button:hover {
    opacity: 1;
}

.cabeca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.todoForm {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #555;
    padding-bottom: 1.5rem;
}

.content {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 15px;
}

.paragrafo{
    flex-direction: row;
    display: flex;
    padding: 5px;
}

.areaButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.todo {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.complete {
    background-color: #5cb85c;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.remove {
    background-color: #d9534f;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.empty {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}


@media (max-width: 750px){
    .app {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        max-width: 100%;
    }

    .todo {
        max-width: 100%;
    }
}