*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-image: url('./img/city.png');
  background-position: center;
  background-size: cover;
  width: 1120px;
  height: 100vh;
}